body {
    background-color: rgb(70, 66, 66);
    img {
        height: 300px;
    }
    h1 {
        color: white;
       
    }
}

.dia1{
    background-color: rgb(171, 185, 185);
}

.dia2{
    background-color: rgb(236, 230, 193);
}

.dia3 {
    background-color: rgb(243, 163, 163);
}